/* Mobile first - default styles */
	#main-nav ul {
		float: right;
		width: 30px;
	}
	.topnav {
		height: 0px;
		padding: 0px;
	}

	.topnav h1 {
		margin: 0px;
		z-index: 100;
	}

	.topnav ul {
		margin: 0;
		padding: 3px;
		position: absolute;
		  top: 5px;
		  right: 20px;
	  /*width: 26px;
	  	transition: width 0.5s ease;*/
	  /*height: 25px;*/
	  overflow: hidden;
	  /*background-color: #eeeeee;*/
	}

	/*.topnav ul:hover {
		width: 250px;
	}*/

	.topnav ul li {
		display: inline;
		padding-left: 2px;
		padding-right: 2px;
	}

	.topnav li a {
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 15px;
		/*color: #FF0057;*/
		margin-top: 0px;

	}

	.topnav li a:hover {
		text-decoration: none;
		color: #FF0057;
	}

	.topnav li a:active {
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Raleway', serif;
		font-weight: 600;
		font-size: 16px;
		background-color: #ebebeb;
		margin-top: 200px;

	}

	/*.mainlogo {
		height: 150px;
		padding: 0px;
	}*/

	img#smallLogo {
		width: 20%;
		  max-width: 100px;
  			transition: width 2s ease;
	  position: absolute;
	  top: 50px;
	  left: 40%;
	}

	img#smallLogo:hover {
		width: 23%;
	}

	.mainlogo img#fullLogo {
		display: none;
	}

	body {
		font-family: 'Raleway', sans-serif;
		font-size: 18px;
		text-align: justify;
		padding: 0;
		margin: 0;
		/*position: relative;*/
	}

	body a {
		color: #8D8D8D;
		text-decoration: none;
		font-weight: 600;
	}

	body a:hover {
		color: #FF0057;
		text-decoration: none;
		font-weight: 600;
	}

	.sidenav {
		display: none;		
	}

	.sidenav img {
		display: block;
		
	}

	div #aboveshop {
		/*background: #FCFCFC;*/
	}

	h1 {
		font-family: 'Lobster', serif;
	  font-size: 20px;
	  text-align: center;
	}

	.post h1 a:active {

		color: #000000;
		
	}

	h2 {
		font-family: 'Lobster', serif;
		font-size: 25px;
		color: #5E5E5E;
	}

	h3 {
		font-family: 'Lobster', serif;
		font-size: 20px;
		color: #808080;
		margin-top: 0px;
		padding-top: 0px;
		/*height: 75px;*/

	}

	h3 a {
		text-decoration: none;
		color: #808080;
	}

	h4 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		font-size: 15px;
		color: #FF0037;
		margin: 20px;
	}

	h5 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		font-size: 13px;
		color: #000000;
		margin: 20px;
	}

	h6 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		font-size: 10px;
		color: #1F1F14;
		margin: 20px;
	}

	.lobster {
		font-family: 'Lobster', serif;
		font-size: 30px;
		color: #1F1F14;
	}

	.img-holder {
		height: 3000px;
	}

	.img-holder p {
	}

	#aboveblog p {
		/*height: 0;
		padding: 0;
		margin: 0;
		z-index: .5;*/
	}

	.layer1 {
		display: none;
	}

	.layer2 {
		display: none;
	}

	.layer3 {
		display: none;
	}

	#shop {
		height: 850px;
		 }

	#shop ul {
		padding-bottom: 20px;
		margin-top: 0;

	}
	#shop ul li {
		display: inline;
		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: #FF0037;
			margin: 5px;
			word-spacing: 3px;
	}

	#shop img {
		width: 275px;
		float: left;
		margin: 10px;
		border: outset 5px #F5F5ED;
	}

	#shop button {
		width: 300px;
		height: 50px;
		background: #FF0010;
		color: #F5F5ED;
		font-family: 'Lobster', serif;
		font-size: 30px;
		float: left;
		clear: both;
	}

	#blog ul {
		padding-bottom: 20px;
		padding-left: 0px;
	}
	#blog ul li {
		display: inline;
		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: #FF0037;
			margin: 5px;
			word-spacing: 3px;
	}

	#blog.post {
		padding-top: 10px;
	}

	#blogPreview img {
		width: 50%;
	/*	float: left;*/
		margin: 10px;
		border: none;
	}

	
	section#blogposts {
		padding: 0px;
	}

	/*#blogposts img {
	}*/

	#blogPreview button {
		width: 300px;
		height: 50px;
		background:  #FF0010;
		color: #F5F5ED;
		font-family: 'Lobster', serif;
		font-size: 30px;
		position: relative;
			top: 10px;
			left: 100px;
		clear: both;
	}

	 a.back-to-listing {
		font-weight: 700;
		color: #808080;
		padding-left: 10%;
	}

	#work {
		/*height: 900px;*/
		margin-top: 170px;
	  
	}
	#work ul {
		padding-bottom: 20px;
	}
	#work ul li {
		display: inline;
		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: #FF0037;
			margin: 5px;
			word-spacing: 3px;
	}

	#work button {
		width: 300px;
		height: 50px;
		background:  #FF0010;
		color: #F5F5ED;
		font-family: 'Lobster', serif;
		font-size: 30px;
		position: absolute;
			bottom: -4500px;
			right: 10px;
		clear: both;
	}

	.services {
		margin: 2px;
		float:left;
	}

	.services img {
		width: 200px;
		
	}

	#work p {
		clear: both;
	}

	.DJ {
		background: #ebebeb;
		width: 220px;
		height: 325px;
		margin: 10px;
		padding: 7px;
		border: outset;
		position: absolute;
			left: 70px;
		z-index: .9;
	}

	.DJ img {
		width: 200px;
	}

	.DJ p {
		color: #0099CC;
		font-family:'Rock Salt', cursive;
			font-weight: 500;
		font-size: 20px;
		text-align: center;
	}

	.phone {
		height: 500px;
		z-index: 100;
	}
	.phone img {
		height: 600px;
		width: 275px;
	}

	.code {
		z-index: -5;
		float: right;
		position: absolute;
			right: 20px;
		margin-top: 60px;
	}

	.code img {
		border: inset #4C4C4C;
		/*height: 350px;*/
		width: 255px;
	}	

	.photography {
		height: 200px;
		float: left;
	}
	.photography img {
		border: solid 15px #F5F5ED;
	}

	.feat1 img {
		width: 300px;
		position: absolute;
			top: 380px;
			left: 0px;	
	}

	.feat2 img {
		width: 300px;
		position: absolute;
			top: 320px;
			right: -380px;
	}

	.feat3 img {
		width: 300px;	
			position: absolute;
				float: right;
				top: 320px;
				right: -650px;
				
	}


	#contact ul {
		margin: 10px;
		padding: 0px;
	}

	#contact ul li {
		display: inline;
		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: #FF0037;
			word-spacing: 3px;
	}

	#contact button {

		width: 200px;
		height: 50px;
		background:  #FF0010;
		color: #F5F5ED;
		font-family: 'Lobster', serif;
		font-size: 30px;
		position: relative;
			top: 10px;
			left: 20px;
		/*	right: -100px;
		clear: both;*/
	}

	#Twitter {
		height: 75px;

	}

	#Twitter img {
		height: 75px;
		width:75px;
		position: relative;
			top: 30px;
	}

	.social {
		color: gray;
		background-color: gray;
	}

	.social a {
		text-decoration: none;
		color: #FF0037;
	}

	.social p {
		margin: 10px;
	}

	.photoI {
		background: #1F1F14;
		border: outset;
		float:left;
		display: inline;
		width: 245px;
		height: 340px; 
		margin: 1px;
	}

	.photoI img {
		width: 240px;
	}

	.photoI p {
		color: #ffffff;
		text-align: left;
		padding: 5px;
	}

	/*.heart {
	}*/

	.form {
		clear: both;
	}

	div#footer {
		/*clear: both;*/
		background: #010101;
		/*height: 50px;*/
		margin: 0px;
		color: #ffffff;
		padding: 50px 0px;
		  width: 100%;
		  text-align: center;
		  clear: both;
		/*position: absolute;
			bottom: 0px;*/
	}

	div#footer a {
		padding: 35px;
	}

	footer div {
		float: left;
		width: 50%;
	}

	footer p {
		font-weight: 600;
		float: right;
		padding-bottom: 15px;
	}

	footer ul {
		list-style: none;
		
	}

	#bottom ul li {
	/*	display: inline;*/
		list-style: none;
		font-family: 'Raleway', sans-serif;
		text-align: left;
		margin-bottom: 20px;
			font-weight: 600;
			font-size: 11px;
			color: #FF0037;
	}

	#bottom ul li a {
		text-decoration: none;
		color: #FF0037;
		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 15px;
	
	}
	

	#bottom ul li a:hover {
	color: #ffffff;
	}

	.subscribe {
		padding: 20px;
		font-family: 'Lobster';
		color:#808080;
		cursor: pointer;
		float: right;
	}

	.back {
		margin-top: 30px;
		font-family: 'Lobster';
		color:#808080;
		cursor: pointer;

	}


	.content-editor.custom {
		padding: 0;
	}

	.content-container {
		padding: 0px;
	}

	.content-editor {
		margin: 0;
		padding: 0;
		width: 370px;
	}

	.page-wrapper {
		padding-left: 0px;
		padding-right: 0px;
	}

	.page-wrapper ul {
		list-style-type: none;
		width: 800px;

	}

	.page-wrapper ul li {
		display: inline;
		
	}

	.page-wrapper ul li a {
		text-decoration: none;
		display: inline;
		color: #000000;
		
	}

	.page-wrapper ul li a:hover {
		color: #FF0057;
		text-decoration: none;
		font-weight: 600;
	}

	#page-title {
		height: 30px;
		margin: 20px;
		margin-top: 20px;
	}

	.content {
		margin: 20px;
	}

	.content-editor {
		padding: 20px;
	}

	.content-editor p {
		padding: 20px;
	}

	#about.content-editor img {
		width: 100%;
	}

	.group footer {
		background: #F5F5ED;
		color: #000000;
		height: 50px;
		padding: 10px;
		width: 370px;
	}

	#blog.list {
		padding: 0px;
	}

	.blogs-content p {
		margin: 5px;
		padding: 10px;
		font-size: 20px;
	}

	#about {
		padding-left: 50;
		padding-right:50;
	}


	.etsy img {
		height: 300px;
		border: outset 5px #F5F5ED;
	}

	.etsy ul {
		display: inline;
		list-style-type: none;
	}

	.etsy ul li a:hover {
		color: #1F1F14;
	}

	.etsy h1 {
		font-family: 'raleway';
		font-size: 30px;
		font-weight: 100;
		padding-right: 20%;
	}

	.etsy h2 {
		font-size: 20px;
		color: #1F1F14;
	}

	.etsy h2 a:hover {
		color: #808080;
	}

	.price {
		color: #1F1F14;
		font-weight: 600;
		font-family: 'Lobster';
	}

	.price a:hover {
		color: #808080;
	}

	.etsy input[type="button"] {
		width: 300px;
		height: 50px;
		background:  #FF0010;
		color: #F5F5ED;
		font-family: 'Lobster', serif;
		font-size: 30px;
		position: relative;
			top: 10px;
			bottom: 10px;
			right: 0px;
		clear: both;

	}

	.cart-add {
		color: #ffffff;
	}

	.product-description {
		padding: 5%;
	}

	.main-image img {
		display: none;
	}

	article {
		/*word-wrap: normal;
		float: left;
		padding-top: 100px;
		padding-bottom: 100px;
		border-bottom: inset 2px #F5F5ED;*/
		padding: 45px;
		  margin: 45px;
		  background-color: #010101;
		  transition: background-color 1.5s ease;
	  text-align: center;

	}

	article:hover {
		background-color: #eeeeee;
	}

	.blogs-content p {
		width: 600px;
		color: #000000;
		font-weight: 500;
		font-size: 18px;
		margin: 2px;
		padding: 0px;
	}

	.group footer {
		background: #ffffff;
		width: 370;
	}

	.tags-categories h3  {
		font-size: 18px;
		padding:0;
		margin: 0;
		height: 0;
	}

	.tags-categories li  {
		font-size: 18px;
		padding-left: 100px;
		margin: 0;
		height: 0;
	}

	.comments, time {
		float: right;
		padding-left: 5px;
	}


	#blog ul li .group {
		float: left;
		/*width: 350px;*/
	}

	#blog .content-container {
		padding-left: 10px;
	}

	#blog article.photo.group img {
		width: 350px;
		/*float: left;*/
		border: none;
	}

	#blog article.photo.group p {
		font-size: 15px;
		margin: 0px;
	}

	#blog article.group footer {
		width: 100%;
		padding-left: 10%;
		background: none;
		font-family: 'Raleway', sans-serif;
		font-size: 15px;
		color: #585858;
		position: relative; 
			top: -30px;
	}

	/*----flickr gallery pages ----------*/
	
	section.vertical-gallery.show {
		padding: 0px;
	}

	ul.thumbnails.group li {
		list-style-type: none;
		display: none;
	}

	ul.large-gallery li a img {
		width: 40%;
		float: left;
		padding: 10px;
	}

	ul.large-gallery li {
		list-style-type: none;
	}

	.details {
		display: none;
	}


/* Small devices (tablets, 768px and up) */
/*@media (min-width: 768px) {


	#main-nav ul {
		float: right;
		width: 30px;
	}
	
	.topnav {
		height: 0px;
		padding: 0px;
	}

	.topnav h1 {
		margin: 0px;
		padding: 50px;
		padding-top: 0px;
		z-index: 100;
	}

	.topnav ul {
		text-align: center;
		height: 40px;
		background: #1F1F14;
		margin: 0;
		padding: 0;
		padding-top: 10px;
		border: outset;
		position: absolute;
			top: 0px;
			right: 0px;
			left: 0px;
	}

	.topnav ul li {
		display: inline;
		padding-left: 25px;
		padding-right: 25px;
	}

	.topnav li a {
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 15px;
		color: #FF0057;
		margin-top: 200px;

	}

	.topnav li a:hover {
		text-decoration: none;
		color: #ffffff;
	}

	.topnav li a:active {
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Raleway', serif;
		font-weight: 600;
		font-size: 16px;
		color: #ebebeb;
		margin-top: 200px;

	}

	.mainlogo {
		height: 300px;
		padding: 0px;
	}

	.mainlogo img {
		width: 65%;
		position: absolute;
			top: 50px;
		padding-left: 10%;
	}

	body {
		font-family: 'Raleway', sans-serif;
		text-align: justify;
		padding: 0;
		margin: 0;
		position: relative;
	}

	body p a {
		color: #8D8D8D;
		text-decoration: none;
		font-weight: 600;
	}

	body p a:hover {
		color: #FF0057;
		text-decoration: none;
		font-weight: 600;
	}

	.sidenav {
		display: none;
		
	}

	section.custom {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	div #aboveshop {
		background: #FCFCFC;
	}

	h1 {
		font-family: 'Lobster', serif;
		font-size: 50px;
		margin-top: 0px;
	}

	.post h1 {

	}

	.post h1 a:active {

		color: #000000;
		
	}

	h2 {
		font-family: 'Lobster', serif;
		font-size: 40px;
		color: #5E5E5E;
	}

	h3 {
		font-family: 'Lobster', serif;
		font-size: 30px;
		color: #808080;
		margin-top: 10px;
		padding-top: 10px;
		height: 75px;

	}

	h3 a {
		text-decoration: none;
		color: #808080;
	}

	h4 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		font-size: 20px;
		color: #FF0037;
		margin: 20px;
	}

	h5 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		font-size: 18px;
		color: #000000;
		margin: 20px;
	}

	h6 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		font-size: 15px;
		color: #1F1F14;
		margin: 20px;
	}

	.lobster {
		font-family: 'Lobster', serif;
		font-size: 30px;
		color: #1F1F14;
	}

	.img-holder {
		height: 3000px;
	}

	.img-holder p {
	}

	#aboveblog p {
		height: 0;
		padding: 0;
		margin: 0;
		z-index: .5;
	}

	.layer1 {
		display: block;
		position: fixed;
			left: 300px;
		-webkit-transform: translateZ(1px);
		text-align: center;
		font-family: 'Lobster', serif;
		font-size: 50px;
		color: #000000;
		margin: 0;
		padding: 0;
	}

	.layer2 {
		display: block;
		position: fixed;
			left: 150px;
			top: 1500px;
		-webkit-transform: translateZ(.99px);
		text-align: center;
		font-family: 'Lobster', serif;
		font-size: 120px;
		color: #F2F2F1;
		margin: 0;
		padding: 0;
	}

	.layer3 {
		display: block;
		position: fixed;
			left: 80px;
			top: -180px;
		-webkit-transform: translateZ(.98px);
		text-align: center;
		font-family: 'Lobster', serif;
		font-size: 100px;
		color: #1F1F14;
		margin: 0;
		padding: 0;
	}

	#shop {
		height: 750px;
	}

	#shop ul {
		padding-bottom: 20px;
		margin-top: 0;

	}
	#shop ul li {
		display: inline;
		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: #FF0037;
			margin: 5px;
			word-spacing: 3px;
	}

	#shop img {
		width: 300px;
		float: left;
		margin: 10px;
		border: outset 5px #F5F5ED;
	}

	#shop button {
		width: 300px;
		height: 50px;
		background:  #FF0010;
		color: #F5F5ED;
		font-family: 'Lobster', serif;
		font-size: 30px;
		position: relative;
			top: 10px;
			left: 10px;
		clear: both;
	}

	#blog ul {
		padding-bottom: 20px;
	}
	#blog ul li {
		display: inline;
		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: #FF0037;
			margin: 5px;
			word-spacing: 3px;
	}

	.blogPreview img {
		width: 50%;
	/*	float: left;*/
/*		padding-left: 15px;
		margin: 20px;
		border: none;
	}

	#blog img {
		border: outset 5px #F5F5ED;
	}

	#blog button {
		width: 300px;
		height: 50px;
		background:  #FF0010;
		color: #F5F5ED;
		font-family: 'Lobster', serif;
		font-size: 30px;
		position: relative;
			top: 10px;
			left: 100px;
		clear: both;
	}

	#work {
		height: 1300px;
	}
	#work ul {
		padding-bottom: 20px;
	}
	#work ul li {
		display: inline;
		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: #FF0037;
			margin: 5px;
			word-spacing: 3px;
	}

	#work button {
		width: 300px;
		height: 50px;
		background:  #FF0010;
		color: #F5F5ED;
		font-family: 'Lobster', serif;
		font-size: 30px;
		position: absolute;
			bottom: -5200px;
			right: 100px;
		clear: both;
	}

	.services {
		margin: 2px;
		float:left;
	}

	.services img {
		width: 400px;
		
	}

	#work p {
		clear: both;
	}

	.DJ {
		background: #ebebeb;
		width: 300px;
		height: 450px;
		margin: 10px;
		padding: 7px;
		border: outset;
		position: absolute;
			left: 10px;
		z-index: .9;
	}

	.DJ img {
		width: 300px;
	}

	.DJ p {
		color: #0099CC;
		font-family:'Rock Salt', cursive;
			font-weight: 500;
		font-size: 30px;
		text-align: center;
	}

	.phone {
		height: 500px;
		z-index: 100;
	}
	.phone img {
		height: 600px;
		width: 275px;
	}

	.code {
		z-index: -5;
		float: right;
		position: absolute;
			right: 70px;
		margin-top: 60px;
	}

	.code img {
		border: inset #4C4C4C;
		height: 350px;
		width: 395px;
	}	

	.photography {
		height: 200px;
		float: left;
	}
	.photography img {
		border: solid 15px #F5F5ED;
	}

	.feat1 img {
		width: 500px;
		position: absolute;
			top: 400px;
			left: -100px;	
	}

	.feat2 img {
		position: absolute;
			top: 400px;
			right: -500px;
	}

	.feat3 {
			position: absolute;
				float: right;
				top: 5200px;
				right: 680px;
				
	}

	#contact ul {
		margin: 10px;
		padding: 0px;
	}

	#contact ul li {
		display: inline;
		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: #FF0037;
			word-spacing: 3px;
	}

	#contact button {

		width: 300px;
		height: 50px;
		background:  #FF0010;
		color: #F5F5ED;
		font-family: 'Lobster', serif;
		font-size: 30px;
		position: relative;
			top: 10px;
			left: 360px;
		clear: both;
	}

	#Twitter {
		height: 75px;

	}

	#Twitter img {
		height: 75px;
		width:75px;
		position: relative;
			top: 30px;
	}

	.socialTitles {
	}

	.socialTitles h4 {
	}

	.social {
		color: gray;
		background-color: gray;
	}

	.social a {
		text-decoration: none;
		color: #FF0037;
	}

	.social p {
		margin: 10px;
	}

	.photoI {
		background: #1F1F14;
		border: outset;
		float:left;
		display: inline;
		width: 245px;
		height: 340px; 
		margin: 1px;
	}

	.photoI img {
		width: 240px;
	}

	.photoI p {
		color: #ffffff;
		text-align: left;
	}

	.heart {
		display: none;
	}

	.form {
		clear: both;
	}

	footer {
		clear: both;
		background: #1F1F14;
		height: 250px;
		margin: 0px;
		color: #ffffff;
		padding: 50px;
		width: 100%; 
	}

	footer div {
		float: left;
		width: 40%;
	}

	footer p {
		padding-left: 100px;
		font-weight: 600;
		float: right;
		margin: 0px;

	}

	footer ul {
		list-style: none;
		padding-left: 100px;
	}

	#bottom ul li {
	/*	display: inline;*/
/*		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: #FF0037;
			margin: 5px;
			word-spacing: 3px;
	}

	#bottom ul li a {
		text-decoration: none;
		color: #FF0037;
		/*display: inline;*/
/*		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 15px;
			word-spacing: 1px;
			margin: 2px;
	
	}
	

	#bottom ul li a:hover {
	color: #ffffff;
	}

	.content-editor.custom {
		padding: 0;
	}

	.content-container {
		padding-left: 10px;
	}

	.content-editor {
		margin: 0;
		padding: 0;
		width: 750px;
	}

	.page-wrapper {
		padding-left: 5px;
		padding-right: 5px;
	}

	.page-wrapper ul {
		list-style-type: none;

	}

	.page-wrapper ul li {
		display: inline;
		
	}

	#about {
		padding-left: 50;
		padding-right:50;
	}

	.etsy img {
		height: 300px;
		border: outset 5px #F5F5ED;
	}

	.etsy ul {
		display: inline;
		list-style-type: none;
	}

	.etsy ul li a:hover {
		color: #1F1F14;
	}

	.etsy h2 {
		font-size: 20px;
		color: #1F1F14;
	}

	.etsy h2 a:hover {
		color: #808080;
	}

	.price {
		color: #1F1F14;
		font-weight: 600;
		font-family: 'Lobster';
	}

	.price a:hover {
		color: #808080;
	}

	article {
		word-wrap: normal;
		float: left;
	}

	.blogs-content p {
		width: 600px;
		color: #000000;
		font-weight: 500;
		font-size: 20px;
		margin: 2px;
		padding: 20px;
	}

	.group footer {
		background: #ffffff;
		width: 750px;
		padding-left: 100px;
	}

	.tags-categories li  {
		font-size: 18px;
		padding-left: 10px;
		margin: 0;
		height: 0;
	}

	/*----flickr gallery pages ----------*/
	
/*	section.vertical-gallery.show {
		padding: 0px;
	}

	ul.thumbnails.group li {
		list-style-type: none;
		display: none;
	}

	ul.large-gallery li a img {
		width: 40%;
		float: left;
		padding: 10px;
	}

	ul.large-gallery li {
		list-style-type: none;
	}

	}

	.details {
		display: none;
	}
	}

/*Medium devices (desktops, 992px and up)*/ 
/*@media (min-width: 992px) {

	#main-nav ul {
		float: right;
		width: 30px;
	}

	.topnav {
		height: 0px;
		padding: 0px;
	}

	.topnav h1 {
		margin: 0px;
		padding: 50px;
		padding-top: 0px;
		z-index: 100;
	}

	.topnav img {
		width: 600px;
		height: 300px;
		/*padding: 20px;*/
/*		position: absolute;
			top: 68px;
			left: 300px;
	}

	.topnav ul {
		text-align: center;
		height: 40px;
		background: #1F1F14;
		margin: 0;
		padding: 0;
		padding-top: 10px;
		border: outset;
		position: absolute;
			top: 0px;
			right: 0px;
			left: 0px;
	}

	.topnav ul li {
		display: inline;
		padding-left: 35px;
		padding-right: 35px;
	}

	.topnav li a {
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 17px;
		color: #FF0057;
		margin-top: 200px;

	}

	.topnav li a:hover {
		text-decoration: none;
		color: #ffffff;
	}

	.topnav li a:active {
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Raleway', serif;
		font-weight: 600;
		font-size: 16px;
		color: #ebebeb;
		margin-top: 200px;

	}

	.mainlogo {
		height: 300px;
		padding: 0px;
	}

	.mainlogo img {
		width: 25%;
		position: absolute;
			top: 50px;
		padding-left: 10%;
	}

	body {
		font-family: 'Raleway', sans-serif;
		text-align: justify;
		padding: 0;
		margin: 0;
		position: relative;
	}

	body p a {
		color: #8D8D8D;
		text-decoration: none;
		font-weight: 600;
	}

	body p a:hover {
		color: #FF0057;
		text-decoration: none;
		font-weight: 600;
	}

	.sidenav {
		display: block;
		position: fixed;
			top: 300px;
			left: 7px;
		/*z-index: 10;*/
		
/*	}

	.sidenav img {
		width: 50px;
	}

	.sidenav ul {
		list-style: none;
		padding: 10px;
		margin: 0px;
		text-align: center;
	}

	.sidenav ul li a {
		font-family: 'Raleway', serif;
		font-weight: 600;
		text-transform: uppercase;
		text-decoration: none;
		color: #FF0010;

	}

	section {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	div #aboveshop {
		background: #FCFCFC;
	}

	h1 {
		font-family: 'Lobster', serif;
		font-size: 50px;
		margin-top: 0px;
	}

	.post h1 {

	}

	.post h1 a:active {

		color: #000000;
		
	}

	h2 {
		font-family: 'Lobster', serif;
		font-size: 40px;
		color: #5E5E5E;
	}

	h3 {
		font-family: 'Lobster', serif;
		font-size: 30px;
		color: #808080;
		margin-top: 10px;
		padding-top: 10px;
		height: 75px;

	}

	h3 a {
		text-decoration: none;
		color: #808080;
	}

	h4 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		font-size: 20px;
		color: #FF0037;
		margin: 20px;
	}

	h5 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		font-size: 18px;
		color: #000000;
		margin: 20px;
	}

	h6 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		font-size: 15px;
		color: #1F1F14;
		margin: 20px;
	}

	.lobster {
		font-family: 'Lobster', serif;
		font-size: 30px;
		color: #1F1F14;
	}

	.img-holder {
		height: 3000px;
	}

	.img-holder p {
	}

	#aboveblog p {
		height: 0;
		padding: 0;
		margin: 0;
		z-index: .5;
	}

	.layer1 {
		display: block;
		position: fixed;
			left: 300px;
		-webkit-transform: translateZ(1px);
		text-align: center;
		font-family: 'Lobster', serif;
		font-size: 50px;
		color: #000000;
		margin: 0;
		padding: 0;
	}

	.layer2 {
		display: block;
		position: fixed;
			left: 350px;
			top: 1500px;
		-webkit-transform: translateZ(.99px);
		text-align: center;
		font-family: 'Lobster', serif;
		font-size: 120px;
		color: #F2F2F1;
		margin: 0;
		padding: 0;
	}

	.layer3 {
		display: block;
		position: fixed;
			left: 150px;
			top: -180px;
		-webkit-transform: translateZ(.98px);
		text-align: center;
		font-family: 'Lobster', serif;
		font-size: 125px;
		color: #1F1F14;
		margin: 0;
		padding: 0;
	}

	/*#shop.layer3 {
		position: relative;
			top: 450px;
	}*/

/*	#shop ul {
		padding-bottom: 20px;
		margin-top: 0;

	}
	#shop ul li {
		display: inline;
		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: #FF0037;
			margin: 5px;
			word-spacing: 3px;
	}

	#shop img {
		width: 300px;
		float: left;
		margin: 10px;
		border: outset 5px #F5F5ED;
	}

	#shop button {
		width: 300px;
		height: 50px;
		background:  #FF0010;
		color: #F5F5ED;
		font-family: 'Lobster', serif;
		font-size: 30px;
		position: relative;
			top: 10px;
			right: 250px;
		clear: both;
	}

	#blog ul {
		padding-bottom: 20px;
	}
	#blog ul li {
		display: inline;
		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: #FF0037;
			margin: 5px;
			word-spacing: 3px;
	}

	.blogPreview img {
		width: 50%;
	/*	float: left;*/
/*		margin: 20px;
		border: none;

	}

	#blog img {
		border: outset 5px #F5F5ED;
	}

	#blog button {
		width: 300px;
		height: 50px;
		background:  #FF0010;
		color: #F5F5ED;
		font-family: 'Lobster', serif;
		font-size: 30px;
		position: relative;
			top: 10px;
			right: 0px;
		clear: both;
	}

	#work {
		height: 1200px;
	}
	#work ul {
		padding-bottom: 20px;
	}
	#work ul li {
		display: inline;
		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: #FF0037;
			margin: 5px;
			word-spacing: 3px;
	}

	#work button {
		width: 300px;
		height: 50px;
		background:  #FF0010;
		color: #F5F5ED;
		font-family: 'Lobster', serif;
		font-size: 30px;
		position: absolute;
			bottom: -4920px;
			right: 150px;
		clear: both;
	}

	.services {
		margin: 2px;
		float:left;
	}

	.services img {
		width: 400px;
		
	}

	#work p {
		clear: both;
	}

	.DJ {
		background: #ebebeb;
		width: 300px;
		height: 450px;
		margin: 10px;
		padding: 7px;
		border: outset;
		position: absolute;
			left: 170px;
		z-index: .9;
	}

	.DJ img {
		width: 280px;
	}

	.DJ p {
		color: #0099CC;
		font-family:'Rock Salt', cursive;
			font-weight: 500;
		font-size: 30px;
		text-align: center;
	}

	.phone {
		height: 500px;
		z-index: 100;
	}
	.phone img {
		height: 600px;
		width: 275px;
	}

	.code {
		z-index: -5;
		float: right;
		position: absolute;
			right: 200px;
		margin-top: 60px;
	}

	.code img {
		border: inset #4C4C4C;
		height: 350px;
		width: 395px;
	}	

	.photography {
		height: 200px;
		float: left;
	}
	.photography img {
		border: solid 15px #F5F5ED;
	}

	.feat1 img {
		width: 500px;
		position: absolute;
			top: 400px;
			left: 0px;	
	}

	.feat2 img {
		position: absolute;
			top: 400px;
			right: -800px;
	}

	.feat3 {
			position: absolute;
				float: right;
				top: 4900px;
				right: 805px;
				
	}

	#contact ul {
		margin: 10px;
		padding: 0px;
	}

	#contact ul li {
		display: inline;
		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: #FF0037;
			word-spacing: 3px;
	}

	#contact button {

		width: 300px;
		height: 50px;
		background:  #FF0010;
		color: #F5F5ED;
		font-family: 'Lobster', serif;
		font-size: 30px;
		position: relative;
			top: 10px;
			left: 500px;
		clear: both;
	}

	#Twitter {
		height: 75px;

	}

	#Twitter img {
		height: 75px;
		width:75px;
		position: relative;
			top: 30px;
	}

	.socialTitles {
	}

	.socialTitles h4 {
	}

	.social {
		color: gray;
		background-color: gray;
	}

	.social a {
		text-decoration: none;
		color: #FF0037;
	}

	.social p {
		margin: 10px;
	}

	.photoI {
		background: #1F1F14;
		border: outset;
		float:left;
		display: inline;
		width: 245px;
		height: 340px; 
		margin: 1px;
	}

	.photoI img {
		width: 240px;
	}

	.photoI p {
		color: #ffffff;
		text-align: left;
	}

	.heart {
		display: none;
	}

	.form {
		clear: both;
	}

	/*.hidden {
		display: none;
	}*/

/*	footer {
		clear: both;
		background: #1F1F14;
		height: 250px;
		margin: 0px;
		color: #ffffff;
		padding: 50px;
		width: 100%; 
	}

	footer div {
		float: left;
		width: 40%;
	}

	footer p {
		padding-left: 100px;
		font-weight: 600;
		float: right;
	}

	footer ul {
		list-style: none;
		padding-left: 100px;
	}

	#bottom ul li {
	/*	display: inline;*/
/*		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: #FF0037;
			margin: 5px;
			word-spacing: 3px;
	}

	#bottom ul li a {
		text-decoration: none;
		color: #FF0037;
		/*display: inline;*/
/*		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 15px;
			word-spacing: 1px;
			margin: 2px;
	
	}
	

	#bottom ul li a:hover {
	color: #ffffff;
		/*list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 15px;
			margin: 2px;*/
	}


/*	.content-container {
		padding-left: 90px;
		padding-right: 50px;
	}

	.page-wrapper {
		padding: 0px;
	}

	.page-wrapper ul {
		list-style-type: none;

	}

	.page-wrapper ul li {
		display: inline;
		
	}

	#about {
		padding-left: 50;
		padding-right:50;
	}

	/*.store-listing {
		width: 400px;
	}*/

/*	.etsy img {
		height: 300px;
		border: outset 5px #F5F5ED;
	}

	.etsy ul {
		display: inline;
		list-style-type: none;
	}

	.etsy ul li a:hover {
		color: #1F1F14;
	}

	.etsy h2 {
		font-size: 20px;
		color: #1F1F14;
	}

	.etsy h2 a:hover {
		color: #808080;
	}

	.price {
		color: #1F1F14;
		font-weight: 600;
		font-family: 'Lobster';
	}

	.price a:hover {
		color: #808080;
	}

	.content-editor {
		margin: 0;
		padding: 0;
		width: 900px;
	}

	article {
		word-wrap: normal;
		float: left;
		width: 300px;
	}

	.blogs-content p {
		width: 700px;
		color: #000000;
		font-weight: 500;
	}

	.group footer {
		width: 900px;
	}

	#contact-form ul li {
		display: inline;
		list-style-type: none;
		color: #FF0037;
		padding: 20px;
	}

	#contact-form ul li a {
		color: #FF0037;
	}

	#contact-form ul li a:hover {
		background-color: #FF0037;
	}

	/*----flickr gallery pages ----------*/

/*	section.vertical-gallery.show{
		padding: 0px;
	}

	ul.thumbnails.group li {
		list-style-type: none;
		display: none;
	}

	ul.large-gallery li a img {
		width: 40%;
		float: left;
		padding: 10px;
	}

	ul.large-gallery li {
		list-style-type: none;
	}

	.details {
		display: none;
	}	

	}

/*Large devices (large desktops, 1200px and up) */
/*@media (min-width: 1200px) {

	#main-nav ul {
	float: right;
	width: 30px;
	}

	.topnav {
		height: 0px;
		padding: 0px;
	}

	.topnav h1 {
		margin: 0px;
		padding: 50px;
		padding-top: 0px;
		z-index: 100;
	}

	.topnav img {
		width: 600px;
		height: 300px;
		/*padding: 20px;*/
/*		position: absolute;
			top: 68px;
			left: 500px;
	}

	.topnav ul {
		text-align: center;
		height: 40px;
		background: #1F1F14;
		margin: 0;
		padding: 0;
		padding-top: 10px;
		border: outset;
		position: absolute;
			top: 0px;
			right: 0px;
			left: 0px;
	}

	.topnav ul li {
		display: inline;
		padding-left: 55px;
		padding-right: 55px;
	}

	.topnav li a {
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 17px;
		color: #FF0057;
		margin-top: 200px;

	}

	.topnav li a:hover {
		text-decoration: none;
		color: #ffffff;
	}

	.topnav li a:active {
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Raleway', serif;
		font-weight: 600;
		font-size: 16px;
		color: #ebebeb;
		margin-top: 200px;

	}

	.mainlogo img {
		width: 55%;
		position: absolute;
			top: 75px;
		padding-left: 20%;
	}


	body {
		font-family: 'Raleway', sans-serif;
		text-align: justify;
		padding: 0;
		margin: 0;
		position: relative;
	}

	body p a {
		color: #8D8D8D;
		text-decoration: none;
		font-weight: 600;
	}

	body p a:hover {
		color: #FF0057;
		text-decoration: none;
		font-weight: 600;
	}

	.sidenav {
		display: block;
		position: fixed;
			top: 300px;
			left: 7px;
		/*z-index: 10;*/
		
/*	}

	.sidenav img {
		width: 50px;
	}

	.sidenav ul {
		list-style: none;
		padding: 10px;
		margin: 0px;
		text-align: center;
	}

	.sidenav ul li a {
		font-family: 'Raleway', serif;
		font-weight: 600;
		text-transform: uppercase;
		text-decoration: none;
		color: #FF0010;

	}

	section {
		padding-top: 100px;
		padding-left:0px;
		padding-bottom: 100px;
	}

	div #aboveshop {
		background: #FCFCFC;
	}

	h1 {
		font-family: 'Lobster', serif;
		font-size: 50px;
		margin-top: 0px;
	}

	.post h1 {

	}

	.post h1 a:active {

		color: #000000;
		
	}

	h2 {
		font-family: 'Lobster', serif;
		font-size: 40px;
		color: #5E5E5E;
	}

	h3 {
		font-family: 'Lobster', serif;
		font-size: 30px;
		color: #808080;
		margin-top: 10px;
		padding-top: 10px;
		height: 75px;

	}

	h3 a {
		text-decoration: none;
		color: #808080;
	}

	h4 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		font-size: 20px;
		color: #FF0037;
		margin: 20px;
	}

	h5 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		font-size: 18px;
		color: #000000;
		margin: 20px;
	}

	h6 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		font-size: 15px;
		color: #1F1F14;
		margin: 20px;
	}

	.lobster {
		font-family: 'Lobster', serif;
		font-size: 30px;
		color: #1F1F14;
	}

	.img-holder {
		height: 3000px;
	}

	.img-holder p {
	}

	#aboveblog p {
		height: 0;
		padding: 0;
		margin: 0;
		z-index: .5;
	}

	.layer1 {
		display: block;
		position: fixed;
			left: 300px;
		-webkit-transform: translateZ(1px);
		text-align: center;
		font-family: 'Lobster', serif;
		font-size: 50px;
		color: #000000;
		margin: 0;
		padding: 0;
	}

	.layer2 {
		display: block;
		position: fixed;
			left: 430px;
			top: 1500px;
		-webkit-transform: translateZ(.99px);
		text-align: center;
		font-family: 'Lobster', serif;
		font-size: 120px;
		color: #F2F2F1;
		margin: 0;
		padding: 0;
	}

	.layer3 {
		display: block;
		position: fixed;
			left: 300px;
			top: -180px;
		-webkit-transform: translateZ(.98px);
		text-align: center;
		font-family: 'Lobster', serif;
		font-size: 125px;
		color: #1F1F14;
		margin: 0;
		padding: 0;
	}

	#shop ul {
		padding-bottom: 20px;
		margin-top: 0;

	}
	#shop ul li {
		display: inline;
		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: #FF0037;
			margin: 5px;
			word-spacing: 3px;
	}

	#shop img {
		width: 300px;
		float: left;
		margin: 10px;
		border: outset 5px #F5F5ED;
	}

	#shop button {
		width: 300px;
		height: 50px;
		background:  #FF0010;
		color: #F5F5ED;
		font-family: 'Lobster', serif;
		font-size: 30px;
		position: relative;
			top: 10px;
			left: 500px;
		clear: both;
	}

	#blog ul {
		padding-bottom: 20px;
	}
	#blog ul li {
		display: inline;
		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: #FF0037;
			margin: 5px;
			word-spacing: 3px;
	}

	.blogPreview img {
		width: 50%;
	/*	float: left;*/
/*		margin: 20px;
		border: none;

	}

	#blog img {
		border: outset 5px #F5F5ED;
	}

	#blog button {
		width: 300px;
		height: 50px;
		background:  #FF0010;
		color: #F5F5ED;
		font-family: 'Lobster', serif;
		font-size: 30px;
		position: relative;
			top: 10px;
			left: 500px;
		clear: both;
	}

	#work {
		height: 1200px;
	}
	#work ul {
		padding-bottom: 20px;
	}
	#work ul li {
		display: inline;
		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: #FF0037;
			margin: 5px;
			word-spacing: 3px;
	}

	#work button {
		width: 300px;
		height: 50px;
		background:  #FF0010;
		color: #F5F5ED;
		font-family: 'Lobster', serif;
		font-size: 30px;
		position: absolute;
			bottom: -4920px;
			right: 150px;
		clear: both;
	}

	.services {
		margin: 2px;
		float:left;
	}

	.services img {
		width: 400px;
		
	}

	#work p {
		clear: both;
	}

	.DJ {
		background: #ebebeb;
		width: 300px;
		height: 450px;
		margin: 10px;
		padding: 7px;
		border: outset;
		position: absolute;
			left: 170px;
		z-index: .9;
	}

	.DJ img {
		width: 280px;
	}

	.DJ p {
		color: #0099CC;
		font-family:'Rock Salt', sans-serif;
			font-weight: 500;
		font-size: 30px;
		text-align: center;
	}

	.phone {
		height: 500px;
		z-index: 100;
	}
	.phone img {
		height: 600px;
		width: 275px;
	}

	.code {
		z-index: -5;
		float: right;
		position: absolute;
			right: 200px;
		margin-top: 60px;
	}

	.code img {
		border: inset #4C4C4C;
		height: 350px;
		width: 395px;
	}	

	.photography {
		height: 200px;
		float: left;
	}
	.photography img {
		border: solid 15px #F5F5ED;
	}

	.feat1 img {
		width: 500px;
		position: absolute;
			top: 400px;
			left: 0px;	
	}

	.feat2 img {
		position: absolute;
			top: 400px;
			right: -800px;
	}

	.feat3 {
			position: absolute;
				float: right;
				top: 4900px;
				right: 805px;
				
	}

	#contact ul {
		margin: 10px;
		padding: 0px;
	}

	#contact ul li {
		display: inline;
		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: #FF0037;
			word-spacing: 3px;
	}

	#contact button {

		width: 300px;
		height: 50px;
		background:  #FF0010;
		color: #F5F5ED;
		font-family: 'Lobster', serif;
		font-size: 30px;
		position: relative;
			top: 10px;
			left: 500px;
		clear: both;
	}

	#Twitter {
		height: 75px;

	}

	#Twitter img {
		height: 75px;
		width:75px;
		position: relative;
			top: 30px;
	}

	.socialTitles {
	}

	.socialTitles h4 {
	}

	.social {
		color: gray;
		background-color: gray;
	}

	.social a {
		text-decoration: none;
		color: #FF0037;
	}

	.social p {
		margin: 10px;
	}

	.photoI {
		background: #1F1F14;
		border: outset;
		float:left;
		display: inline;
		width: 245px;
		height: 340px; 
		margin: 1px;
	}

	.photoI img {
		width: 240px;
	}

	.photoI p {
		color: #ffffff;
		text-align: left;
	}

	.heart {
		display: none;
	}

	.form {
		clear: both;
	}

	/*.hidden {
		display: none;
	}*/

/*	footer {
		clear: both;
		background: #1F1F14;
		height: 250px;
		margin: 0px;
		color: #ffffff;
		padding: 50px;
		width: 100%; 
	}

	footer div {
		float: left;
		width: 40%;
	}

	footer p {
		padding-left: 100px;
		font-weight: 600;
		float: right;
	}

	footer ul {
		list-style: none;
		padding-left: 100px;
	}

	#bottom ul li {
	/*	display: inline;*/
/*		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: #FF0037;
			margin: 5px;
			word-spacing: 3px;
	}

	#bottom ul li a {
		text-decoration: none;
		color: #FF0037;
		/*display: inline;*/
/*		list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 15px;
			word-spacing: 1px;
			margin: 2px;
	
	}
	

	#bottom ul li a:hover {
	color: #ffffff;
		/*list-style: none;
		font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 15px;
			margin: 2px;*/
/*	}


	.content-editor.custom {
		padding: 0;
	}

	.content-container {
		padding-left: 90px;
		padding-right: 50px;
	}

	.content-editor {
		margin: 0;
		padding: 0;
	}

	.page-wrapper {
		padding-left: 0px;
		padding-right: 0px;
	}

	.page-wrapper ul {
		list-style-type: none;

	}

	.page-wrapper ul li {
		display: inline;
		
	}

	#about {
		padding-left: 50;
		padding-right:50;
	}

	/*.store-listing {
		width: 400px;
	}*/

/*	.etsy img {
		height: 300px;
		border: outset 5px #F5F5ED;
	}

	.etsy ul {
		display: inline;
		list-style-type: none;
	}

	.etsy ul li a:hover {
		color: #1F1F14;
	}

	.etsy h2 {
		font-size: 20px;
		color: #1F1F14;
	}

	.etsy h2 a:hover {
		color: #808080;
	}

	.price {
		color: #1F1F14;
		font-weight: 600;
		font-family: 'Lobster';
	}

	.price a:hover {
		color: #808080;
	}

	.content-editor {
		margin: 0;
		padding: 0;
		width: 1100px;
	}

	article {
		word-wrap: normal;
		float: left;
		width: 1100px;
	}

	.blogs-content p {
		width: 900px;
		color: #000000;
		font-weight: 500;
	}

	#contact-form ul li {
		/*display: inline;*/
/*		list-style-type: none;
		color: #FF0037;
		padding: 20px;
	}

	#contact-form ul li a {
		color: #FF0037;
	}

	#contact-form ul li a:hover {
		background-color: #FF0037;
	}

	#contact-form input {
		border: inset;
	}
	/*----flickr gallery pages ----------*/
	
/*	section.vertical-gallery.show{
		padding: 0px;
	}

	ul.thumbnails.group li {
		list-style-type: none;
		display: none;
	}

	ul.large-gallery li a img {
		width: 40%;
		float: left;
		padding: 10px;
	}

	ul.large-gallery li {
		list-style-type: none;
	}

	.details {
		display: none;
	}
	
	}

*/