/* Mobile first - default styles */
	body, html {
	    width: 100%;
	    min-height: 100%;
	      overflow-x: hidden;
	}

	body {
		font-family: 'Raleway', sans-serif;
		font-size: 18px;
		text-align: justify;
		margin: 0px;
	}

	div {
		width: 100%;
	}


	img#smallLogo {
	  width: 120px;
	  position: relative;
	  top: 50px;
	  left: 40%;
	}
	
	body a {
		color: #8D8D8D;
		text-decoration: none;
		font-weight: 600;
	}

	body a:hover {
		color: #FF0057;
		text-decoration: none;
		font-weight: 600;
	}

	h1 {
		font-family: 'Lobster', serif;
	  font-size: 20px;
	    position: relative;
	  left: 40%;
	     padding: 0px 20px;
	}

	h2 {
		font-family: 'Lobster', serif;
		font-size: 25px;
		color: #5E5E5E;
	}

	h3 {
		font-family: 'Lobster', serif;
		font-size: 20px;
		color: #808080;
		margin-top: 0px;
		padding-top: 0px;

	}

	h3 a {
		text-decoration: none;
		color: #808080;
	}

	h4 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		font-size: 15px;
		color: #FF0037;
		margin: 20px;
	}

	h5 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		font-size: 13px;
		color: #000000;
		margin: 20px;
	}

	h6 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		font-size: 10px;
		color: #1F1F14;
		margin: 20px;
	}

	#work {
		margin-top: 120px;
	  
	}


/*

	.social {
		color: gray;
		background-color: gray;
	}

	.social a {
		text-decoration: none;
		color: #FF0037;
	}

	.social p {
		margin: 10px;
	}

	.photoI {
		background: #1F1F14;
		border: outset;
		float:left;
		display: inline;
		width: 245px;
		height: 340px; 
		margin: 1px;
	}

	.photoI img {
		width: 240px;
	}

	.photoI p {
		color: #ffffff;
		text-align: left;
		padding: 5px;
	}


*/
	div#footer {
		background: #010101;
		color: #ffffff;
		padding: 50px 0px;
		  width: 100%;
		  text-align: center;
	  p
		
	}

	div#footer a {
		padding: 15px;
	}

	

	article {
		padding: 45px;
		  margin: 45px;
		  background-color: #010101;
		  transition: background-color 1.5s ease;
	  text-align: center;

	}

	article:hover {
		background-color: #eeeeee;
	}

/* Small Mobile devices - iphone, etc. */
@media (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) { 

	body, html {
	    width: 114%;
	    min-height: 153%;
	}

	img#smallLogo {
		width: 348px;
  		top: 260px;

	}
	img#smallLogo, h1 {
		left: 35%;
	}

	#work {
		margin-top: 200px;
	}

	h1 {
		font-size: 50px;
		font-family: 'Raleway', sans-serif;
		padding: 0px 25px;
	}

	#portfolioArticles {
		margin: 135px 0px;
	}

	#portfolioArticles article a {
		font-size: 50px;
	}

	#portfolioArticles article p {
		font-size: 40px;
	}

	article {
		  padding: 120px 45px 45px;
		  margin: 80px;
	}

	div#footer {
		padding: 90px 0px;
	}

	#footer a {
	  font-size: 40px;
	}

}

@media (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	img#smallLogo {
	  width: 240px;
	  top: 115px;
	}

	img#smallLogo, h1 {
		left: 42%;
	}

	h1 {
	  padding: 0px 35px;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (orientation: portrait) {

	img#smallLogo, h1 {
		left: 39%;
	}

	#work {
	  margin-top: 400px;
	}

	/*h1 {
	  font-size: 30px;
	  padding: 0px 23% 0px 0px;
	}

	div#portfolioArticles {
		padding: 0px 23% 0px 0px;
	}

	#portfolioArticles article a {
		  font-size: 25px;
	}

	#portfolioArticles article p {
		font-size: 25px;
	}

	article {
		  padding: 67px 45px 45px;
	}

	#footer a {
	  font-size: 25px;
	  padding: 35px;
	}

	div#footer {
		text-align: left;
		padding: 50px 0px 50px 11%;
		position: absolute;
  		bottom: 0;
	}*/

}

@media (min-width: 768px) and (orientation: landscape) {
	img#smallLogo, h1 {
		left: 44%;
	}

	#work {
	  margin-top: 120px;
	}

	h1 {
	  padding: 0px 25px;
	}

	div#footer a {
		padding: 35px;
	}
}

/*Medium devices (desktops, 992px and up)*/ 
@media (min-width: 992px) {

	img#smallLogo, h1 {
		left: 45%;
	}


	
}

/*Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	img#smallLogo, h1 {
		left: 46%;
	}

	

}

